body {
    background: rgb(54, 52, 78);
    margin: 0;
    padding: 0;
}

#main-nav {
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(41, 36, 36);
    color: white;
    height: 60px;
    width: 100%; 
}
/* .main-nav-containt{
    
} */
#nav-logo {
    margin-left: 10px;

}
#nav-searchbar{
    /* border: 2px solid white;   */
    width: 25%;
    height: 50%;
    /* border-radius: 15px 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-search{
    height:100%;
    width: 80%;
    background-color:black;
    color: white;
    border: 2px solid white;
    border-radius: 15px 15px;

}
#nav-profile{
    background: rgb(40, 40, 207);
    width: 5%;
    height: 60%;
    font-size : 20px;
    border : 2px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
}

#nav-logout-button {
    background: rgb(53, 53, 235);
    width: 10%;
    height: 60%;
    text-align: center;
    padding-top: 8px;
    border : 2px solid gray;
    border-radius: 10px;
    margin: 2px;
}

#main-secion {
    display: flex;
    flex-direction: row;
}
#main-section-1{
    width: 25%;
    background-color: rgb(40, 45, 56);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-section-1-dashoboad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    border-bottom: 4px solid rgb(70, 70, 70);

}
#main-section-2{
    display: flex;
    flex-direction: column;
}
#main-section-2-title{
    color: white;
    font-size: 30px;
    border-bottom: 3px solid gray;
    
}
#main-section-2-card-container{
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}
/* #main-section-2{
    display: flex;
    flex-direction: column;   
}

#main-section-2-card-container {
    display: flex;
    flex-wrap: wrap;
} */
/* 
.card {
    height: 15%;
    width: 15%;
    border : 2px solid red;
    border-radius: 10px; 
    margin-bottom: 10px;
    padding: 5px;
    background-color: bisque;
    display: inline;
}


.card-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */



.card {
    background-color: rgb(41, 36, 36);
    height: 500px;
    width: 300px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    overflow: hidden;
}

.card-img-div{
    height: 100px;
    width: 200px;
    overflow: hidden;
}
#card-img {
    height: 200px;
    width: 300px;   
}
.card-title {
    text-align: center;
    font-size: 25px;
    margin: 10px 0px;
}

#des-container {
    margin: 10px 10px;
    
}
.card-des {
    margin: 2px;
    text-decoration: none;
    text-align: justify;
    margin: 10px 0px;
}


.card-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 15px 15px 15px;
    /* background-color: antiquewhite; */
    position: static;
    margin-bottom: 0px;
}

.card-button-go {
    border: 2px solid white;
    background: #34c547;
    border-radius: 7px;
    font-size: large;
    padding: 15px 12px;
    margin-bottom: 10px;
}
.card-button-delete {
    border : 2px solid white;
    height: 55px;
    width: 100px;
    background: #dd2d2d;
    border-radius: 7px;
    font-size: large;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}  